[submodule "pytorch_image_classification"]
	path = pytorch_image_classification
	url = https://github.com/hysts/pytorch_image_classification
[submodule "ComputerGraphic"]
	path = ComputerGraphic
	url = https://github.com/Michael-Jetson/ComputerGraphic.git
